
.textsurphoto{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);	
    margin-right:100px;
    margin-bottom:100px;
  }

.section{
	position:relative;
}
	

.photoiAff{
	float:left;
}
.page{
  font-family: 'Source sans Pro',Calibri,Tahoma,sans-serif;
 
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  background-color:#E6E6FA;
  padding:20px;
  box-shadow: 2px 3px 4px black;
  border-radius:10px;
}


.intro{
	text-align:center;
}
h1,h3{
	text-align:center;
}
.infostemps{
	float: right;
	margin-top:-255px;
	margin-right:100px;
	text-align:center;
}

footer{
    display: inline-block;
    bottom: 10px;
    width:100%;
    padding-top:50px;
    height:50px;
}
footer p{
    float:left;
    margin-right: 10px;
    
}

footer form{
    float: left;
}
footer a{
    color:black;
    vertical-align: top;
}
header{
    position:relative;
    background-image: url(gaumont.jfif);
    background-attachment: fixed;
    height:250px;
    width:100%;
    color: whitesmoke;
    line-height:250px;
    text-align: center;
    border:groove #faf9f8bb;
    border-radius:10px;
}

body{
    background-color: #f1ebebfd;
    font-size: medium;
}

nav,main{
    text-align: justify;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.sous{
    display:none;
    box-shadow: 0px 1px 2px #CCC;
    background-color:#ebc5c5fd;
    position: absolute;
    width: 100%;
    z-index:1000;
}


nav > ul li:hover .sous{
    display:block;
}

.sous li{
    float: none;
    width: 100%;
    text-align:left;
    font-size: 12px;
}

.sous a{
    padding:10px;
    border-bottom: none;
}

.sous a:hover{
     border-bottom: none;
}

.deroulant{
    font-size:1.3em;
    
}

.deroulant:hover{
    color: #760001;
}

nav ul li{
    float:left;
    position: relative;
}
.img-contact{
    height:30px;
    width:30px;
	
	
}

footer{
    display: inline-block;
    bottom: 10px;
    width:100%;
    padding-top:50px;
    height:50px;
}

